{%  extends 'base.html' %}
{% block header_text %}Start a new To-Do list{% endblock %}
{% block form_action %}{% url 'view_list1' list.id %}{% endblock %}
{% block table %}
	<table id="id_list_table" class="table table-hover">
			 <thead>
              <tr class="table table-bordered">
                <th style="background-color:red" width=50>序号</th>
                <th style="background-color:red" width=200>内容</th>
				<th style="background-color:red" width=200>时间</th>
              </tr>
             </thead>
			      {% for choice in list.item_list.all %}
			      <tr id="tr1" class="table table-bordered">
			        <td >{{ forloop.counter }}</td >
				    <td id ="td1">{{ choice.text }}</td>
					<td>{{ choice.create_time|date:"Y-m-d H:i:s" }}</td>
			      </tr>
			      {% endfor %}
	</table>
{% endblock %}
<!--
<html>
     <head>
          <title>Start a new To-Do list</title>
	 </head>
	 <body>
	      <h1>Start a new To-Do list</h1>
		  <form method="POST" action="/lists/{{ list.id }}/add_item">
		  {% csrf_token %}
		      <input id="id_new1" name="item_text" placeholder="Enter a to-do item" style="height:30px;width:150px;">
			  <button id="btn" style="height:30px;width:50px;">添加</button>
		  </form>
		   <table cellspacing=0 height=200 width=500 border="1" id="id_list_table">
			 <thead>
              <tr>
                <th style="background-color:red" align="center" width=50>序号</th>
                <th style="background-color:red" align="center" width=200>内容</th>
				<th style="background-color:red" align="center" width=200>时间</th>
              </tr>
             </thead>
			      {% for choice in list.item_list.all %}
			      <tr id="tr1">
			        <td align="center">{{ forloop.counter }}</td >
				    <td id ="td1" align="center">{{ choice.text }}</td>
					<td align="center">{{ choice.logtime|date:"Y-m-d H:i:s" }}</td>
			      </tr>
			      {% endfor %}
          </table>
	 </body>
</html>
-->